@using ZL.ManagerProject.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/IndexMaster.cshtml";
}
@if (ViewContext.RouteData.Values["ID"] != null)
{
    CommonInfo.UserName = ViewContext.RouteData.Values["ID"].ToString();
}
<h2>@CommonInfo.UserName</h2>
<h4>欢迎您！</h4>
