@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>用户注册</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

    <div id="login-page">
        <div class="container">

            <form class="form-login" action="/UserRegister/UserRegister" method="post">
                <h2 class="form-login-heading">注册</h2>
                <div class="login-wrap">
                     <input type="text" name="username" class="form-control" placeholder="用户名" autofocus>
                    <br>
                     <input type="password" name="pwd" class="form-control" placeholder="密码">
                    <br>
                    <input type="password" name="repwd" class="form-control" placeholder="确认密码">
                    <label class="checkbox">
                        <span class="pull-left">
                            <a data-toggle="modal" name="registerFail" style="color:red">@ViewData["registerFail"]</a>
                        </span>
                    </label>
                    <button class="btn btn-theme btn-block" type="submit"> 注册</button>
                    <hr>
                </div>
            </form>

        </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/assets/js/jquery.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/Content/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../Content/assets/img/login-bg.jpg", { speed: 500 });
    </script>


</body>
</html>
